{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "ie": "11"
        },
        "useBuiltIns": false,
      },
    ],
  ],
  "plugins": ["transform-async-to-promises"]
}