* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  box-sizing: inherit; }

body {
  margin: 5vh auto;
  width: 90vw;
  max-width: 1024px;
  box-sizing: border-box; }

header {
  padding: 2em 0;
  border-bottom: 1px solid #eee; }

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.5em -.5em; }
  nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0; }
  nav li,
  nav > div {
    margin: .5em; }

h1 {
  color: #ff2f65;
  font-size: calc(2em + 2.5vw); }

a {
  color: #ff2f65; }

@keyframes container {
  0% {
    opacity: 0;
    transform: translateY(5vmin); }
  100% {
    opacity: 1;
    transform: none; } }

[data-view='main'][data-transition='in'] {
  animation: container 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-direction: normal; }

[data-view='main'][data-transition='loading'] {
  opacity: 0; }

[data-view='main'][data-transition='out'] {
  animation: container 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-direction: reverse; }

@keyframes lightbox {
  0% {
    opacity: 0;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: none; } }

.lightbox {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .lightbox[data-view-active='true'] {
    opacity: 1;
    pointer-events: auto; }
  .lightbox[data-transition='in'] {
    animation: lightbox 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-direction: normal; }
  .lightbox[data-transition='loading'] {
    opacity: 0; }
  .lightbox[data-transition='out'] {
    animation: lightbox 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-direction: reverse; }
  .lightbox .lightbox-box {
    position: fixed;
    top: 7.5vh;
    right: 7.5vw;
    bottom: 7.5vh;
    left: 7.5vw;
    width: 85vw;
    height: 85vh;
    padding: 5vh 5vw;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); }
  .lightbox-close {
    display: none; }
  .lightbox .lightbox-close {
    display: block;
    position: absolute;
    top: 7.5vh;
    right: 7.5vw;
    font-size: 0;
    appearance: none;
    background: none;
    border: 0; }
    .lightbox .lightbox-close:before {
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      transform: scale(1.11111);
      background-color: rgba(0, 0, 0, 0.15); }
    .lightbox .lightbox-close:after {
      content: '\00d7';
      font-size: 2.5rem; }
  .lightbox .lightbox-fallback-close {
    display: none; }
