{% extends 'layout/sequenced.njk' %}
{% block body %}

    <header>Persisting header from page 2</header>

    <nav data-view="navigation">
        <ul>
            <li><a href="page-1.html" data-view-link>page 1</a></li>
            <li><strong>page 2</strong></li>
            <li><a href="page-3.html" data-view-link>page 3</a></li>
        </ul>
        <div>root &rsaquo; <strong>page 2</strong></div>
    </nav>

    <main data-view="main">
        <h1>Page 2</h1>
        <p>Doloribus et exercitationem facere iusto necessitatibus officia quod sunt tenetur ut voluptas. Cumque error
            est
            mollitia omnis quas repellendus sunt, ullam voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.</p>
    </main>

    <aside data-view="sequenced">
        <h2>Page 2 sequenced</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur doloremque ullam commodi, modi aliquid, adipisci dignissimos, accusamus nostrum quaerat quibusdam eaque cumque aperiam dolore amet vel explicabo reiciendis quidem odio!</p>
    </aside>

    <div data-view="lightbox" class="lightbox"></div>

{% endblock %}