{% extends 'layout/sequenced.njk' %}
{% block body %}

    <header>Persisting header from page 1</header>

    <nav data-view="navigation">
        <ul>
            <li><strong>page 1</strong></li>
            <li><a href="page-2.html" data-view-link>page 2</a></li>
            <li><a href="page-3.html" data-view-link>page 3</a></li>
        </ul>
        <div>root &rsaquo; <strong>page 1</strong></div>
    </nav>

    <main data-view="main">
        <h1>Page 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et exercitationem facere iusto
            necessitatibus
            officia quod sunt tenetur ut voluptas. Cumque error est mollitia omnis quas repellendus sunt, ullam
            voluptates?</p>
        <a href="lightbox.html" data-view-link="lightbox">Open lightbox</a>
    </main>

    <aside data-view="sequenced">
        <h2>Page 1 sequenced</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur doloremque ullam commodi, modi aliquid, adipisci dignissimos, accusamus nostrum quaerat quibusdam eaque cumque aperiam dolore amet vel explicabo reiciendis quidem odio!</p>
    </aside>

    <div data-view="lightbox" class="lightbox"></div>

{% endblock %}