{% extends 'layout/basic.njk' %}
{% block body %}

    <header>Persisting header from page 3</header>

    <nav data-view="navigation" data-persist-view>
        <ul>
            <li><a href="page-1.html" data-view-link>page 1</a></li>
            <li><a href="page-2.html" data-view-link>page 2</a></li>
            <li><strong>page 3</strong></li>
        </ul>
        <div>root &rsaquo; <strong>page 3</strong></div>
    </nav>

    <main data-view="main" data-persist-view>
        <h1>Page 3</h1>
        <p>Doloribus et exercitationem facere iusto necessitatibus officia quod sunt tenetur ut voluptas. Cumque error est
            mollitia omnis quas repellendus sunt, ullam voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.</p>
    </main>

{% endblock %}